#coverPic{
    position: absolute;
    width: 100%;
    height: 100%;
}

nav>a{
    position: fixed;
    top: 0%;
    margin: 23px;

}
nav>a>img{
    height: 47px;
    width: 48px;
}
nav>a{
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-decoration: none;
    color: #E7B10A;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
nav>a:nth-child(6){
    right: 19%;
}

nav>a:nth-child(5){
    right: 29%;
}
nav>a:nth-child(4){
    right: 37%;
}
nav>a:nth-child(3){
    right: 47.8%;
}
nav>a:nth-child(2){
    right: 56.3%;
}
nav>a:nth-child(1){
    right: 66.2%;
}


body>header>h3{
    position: fixed;
    color: #E7B10A;
    top: -16px;
    right: 80%;
    font-size: 40px;
}

#h3-2{
    top: 1.9%;
    right: 76.1%;

}

#dLogo{
    position: fixed;
    top: -2%;
    right: 82%;
    width: 15%;
    height: 23%;
}













